src/main/resources/wsdl/services/CardFraudulentV2.wsdl

<wsdl:definitions name="CardFraudulent" targetNamespace="http://com/aes/service/accounts/CardFraudulent" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:pref="http://www.aes.com/xs/modelo"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/aes/service/accounts/CardFraudulent" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
    xmlns:wsaws="http://www.w3.org/2005/08/addressing">
    
   <wsdl:types>
      <xsd:schema targetNamespace="http://com/aes/service/accounts/CardFraudulent" 
      xmlns:mrm="http://com/aes/service/accounts/CardFraudulent" xmlns:toures="http://www.aes.com/xs/modelo">
         <xsd:import namespace="http://www.aes.com/xs/modelo" schemaLocation="../xsd/CardStatusMod.xsd"/>
         <xsd:element name="modCardStatusRequest" type="mrm:ModCardStatusInput"/>
         <xsd:element name="modCardStatusResponse" type="mrm:ModCardStatusOutput"/>
         <xsd:complexType name="ModCardStatusInput">
            <xsd:sequence>
               <xsd:element ref="toures:ModCardStatusInp"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ModCardStatusOutput">
            <xsd:sequence>
               <xsd:element ref="toures:ModCardStatusOut"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="modCardStatusRequest">
      <wsdl:part element="tns:modCardStatusRequest" name="modCardStatusRequest"/>
   </wsdl:message>
   <wsdl:message name="modCardStatusResponse">
      <wsdl:part element="tns:modCardStatusResponse" name="modCardStatusResponse"/>
   </wsdl:message>
   <wsdl:portType name="CardFraudulent">
      <wsdl:operation name="report">
         <wsdl:input message="tns:modCardStatusRequest"/>
         <wsdl:output message="tns:modCardStatusResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CardFraudulentBinding" type="tns:CardFraudulent">
      <wsp:PolicyReference URI="#SecurityServiceBindingPolicy"/>
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="report">
         <soap:operation soapAction=""/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CardFraudulentService">
      <wsdl:port binding="tns:CardFraudulentBinding" name="CardFraudulentPort">
         <soap:address location="https://jbossews-interoperability.rhcloud.com/services/CardFraudulentServiceV2"/>
      </wsdl:port>
   </wsdl:service>
   
   <wsp:Policy wsu:Id="SecurityServiceBindingPolicy">
   <wsp:ExactlyOne>
   <!-- 
      <wsp:All>
         <foo:unknownPolicy xmlns:foo="http://cxf.apache.org/not/a/policy"/>
      </wsp:All>
       -->
      <wsp:All>
	  
	  
      	<!-- 
         <wsaws:UsingAddressing xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl" wsdl:required="false" />          
         <sp:TransportBinding>       
            <wsp:Policy>            
               <sp:TransportToken>
                  <wsp:Policy>
                     <sp:HttpsToken RequireClientCertificate="false"/>
                  </wsp:Policy>
               </sp:TransportToken>
               <sp:Layout>
                  <wsp:Policy>
                     <sp:Lax/>
                  </wsp:Policy>
               </sp:Layout>
               <sp:IncludeTimestamp/>
               <sp:AlgorithmSuite>
                  <wsp:Policy>
                     <sp:Basic128/>
                  </wsp:Policy>
               </sp:AlgorithmSuite>
            </wsp:Policy>             
         </sp:TransportBinding>       
         <sp:Wss10>
            <wsp:Policy>
               <sp:MustSupportRefKeyIdentifier/>
            </wsp:Policy>
         </sp:Wss10>
         -->  
         <sp:SupportingTokens>
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient"/>
          </wsp:Policy>
        </sp:SupportingTokens>
        
       <!--   
         <sp:SignedSupportingTokens>
            <wsp:Policy>
               <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                     <sp:WssUsernameToken10/>
                  </wsp:Policy>
               </sp:UsernameToken>
            </wsp:Policy>
         </sp:SignedSupportingTokens>
         -->
         
      </wsp:All>
   </wsp:ExactlyOne>
</wsp:Policy>
   
</wsdl:definitions>