src/main/resources/wsdl/services/ConsultaTransacciones.wsdl

<wsdl:definitions name="AcctTrnInquiry" targetNamespace="http://com/aes/service/accounts/AcctTrnInquiry" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:pref="http://www.aes.com/xs/modelo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/aes/service/accounts/AcctTrnInquiry" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:types>
      <xsd:schema targetNamespace="http://com/aes/service/accounts/AcctTrnInquiry" xmlns:mrm="http://com/aes/service/accounts/AcctTrnInquiry" xmlns:toures="http://www.aes.com/xs/modelo">
         <xsd:import namespace="http://www.aes.com/xs/modelo" schemaLocation="../xsd/AcctTrnInq.xsd"/>
         <xsd:element name="getAcctTrnRequest" type="mrm:GetAcctTrnInp"/>
         <xsd:element name="getAcctTrnResponse" type="mrm:GetAcctTrnOut"/>
         <xsd:complexType name="GetAcctTrnInp">
            <xsd:sequence>
               <xsd:element ref="toures:GetAcctTrnInp"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="GetAcctTrnOut">
            <xsd:sequence>
               <xsd:element ref="toures:GetAcctTrnOut"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getAcctTrnRequest">
      <wsdl:part element="tns:getAcctTrnRequest" name="getAcctTrnRequest"/>
   </wsdl:message>
   <wsdl:message name="getAcctTrnResponse">
      <wsdl:part element="tns:getAcctTrnResponse" name="getAcctTrnResponse"/>
   </wsdl:message>
   <wsdl:portType name="AcctTrnInquiry">
      <wsdl:operation name="getAcctTrn">
         <wsdl:input message="tns:getAcctTrnRequest"/>
         <wsdl:output message="tns:getAcctTrnResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="AcctTrnInquiryBinding" type="tns:AcctTrnInquiry">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getAcctTrn">
         <soap:operation soapAction=""/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="AcctTrnInquiryService">
      <wsdl:port binding="tns:AcctTrnInquiryBinding" name="AcctTrnInquiryPort">
         <soap:address location="http://localhost:7800/Accounts/AcctTrnInquiry"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>